<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Malaysian Parliament Majority Calculator</title>
    <link rel="stylesheet" href="style.css" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-142132304-3"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag('js', new Date())
      gtag('config', 'UA-142132304-3')
    </script>
  </head>
  <body>
    <h1>Malaysian Parliament Majority Calculator</h1>
    <div id="app">
      <p>
        The total number of seats in the Dewan Rakyat:
        <b>{{ totalParliamentSeats }}</b>
      </p>
      <p>
        Number needed for a simple majority to form a government:
        <b> {{ neededForSimpleMajority }}</b>
      </p>
      <ul>
        <li v-for="(v,name) in parties">
          {{ name }} : {{ v }}
          <input type="checkbox" id="checkbox" v-model="selected[name]" />
          <label for="checkbox">{{ selected[name] }}</label>
        </li>
      </ul>
      <section id="selected">
        <p>Selected: {{ selectedStatement }}</p>
        <p>Total Number: {{ totalNumber }}</p>
      </section>

      <section id="result">
        <p v-if="simpleMajorityAchieved">
          Enough seats for a simple majority
        </p>
        <p v-else>
          Not enough seats for a simple majority
        </p>
      </section>
    </div>
    <p>Notes:</p>
    <ul>
      <li>
        Seats breakdown taken (still manually atm) from:
        <a href="https://en.wikipedia.org/wiki/Parliament_of_Malaysia"
          >Wikipedia</a
        >
      </li>
      <li>
        <a href="https://github.com/nazreen/majority-calc-mal"
          >Source code on Github</a
        >
        (feel free to submit a PR)
      </li>
      <li>made by <a href="https://twitter.com/nxmohamad">nazreen</a></li>
    </ul>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
  </body>
</html>
