<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Malaysian Parliament Majority Calculator</title>
    <link rel="stylesheet" href="style.css" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-142132304-3"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag('js', new Date())
      gtag('config', 'UA-142132304-3')
    </script>
  </head>
  <body>
    <h1>Malaysian Parliament Majority Calculator</h1>
    <div id="app">
      <p id="total-seats-statement">
        The total number of seats in the Dewan Rakyat:
        <b>{{ totalParliamentSeats }}</b>
      </p>
      <p id="number-needed-statement">
        Number needed for a simple majority to form a government:
        <b> {{ neededForSimpleMajority }}</b>
      </p>
      <main>
        <table id="parties-list">
          <tr>
            <th>Party</th>
            <th>Seats</th>
            <th>Selected</th>
          </tr>
          <tr v-for="(v,name) in parties">
            <td>
              {{ name }}
            </td>
            <td>
              {{ v }}
            </td>
            <td>
              <input type="checkbox" id="checkbox" v-model="selected[name]" />
            </td>
          </tr>
        </table>

        <div id="output">
          <section id="selected">
            <p>Selected: {{ selectedStatement }}</p>
            <p>Total Number: {{ totalNumber }}</p>
          </section>

          <section id="result">
            <p v-if="twoThirdsAchieved">
              Two-thirds majority achieved.
            </p>
            <p v-else-if="simpleMajorityAchieved">
              Enough seats for a simple majority.
            </p>
            <p v-else>
              Not enough seats for a simple majority (select more parties).
            </p>
          </section>
        </div>
      </main>
      <aside>
        <p>Notes:</p>
        <ul>
          <li>
            Seats breakdown taken (still manually atm) from:
            <a href="https://en.wikipedia.org/wiki/Parliament_of_Malaysia"
              >Wikipedia</a
            >
          </li>
          <li>
            <a href="https://github.com/nazreen/majority-calc-mal"
              >Source code on Github</a
            >
            (feel free to submit a PR)
          </li>
          <li>made by <a href="https://twitter.com/nxmohamad">nazreen</a></li>
          <li>
            please let me know of any errors via
            <a href="https://twitter.com/nxmohamad">my twitter</a>
          </li>
        </ul>
      </aside>
      <aside>
        <p>Changelog:</p>
        <ul>
          <li v-for="item in changelog">
            {{ item.date }} : {{ item.description }}
          </li>
        </ul>
      </aside>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
  </body>
</html>
