body {
  padding: 0 2%;
}

h1 {
  text-align: center;
}

#selected {
  font-weight: bold;
}

#result {
  font-size: 1.5rem;
}

#parties-list,
#output {
  display: inline-block;
  vertical-align: middle;
}

#output {
  border: 1px solid black;
  padding: 0 10px;
}
